.buyForm {
  margin-top: 2rem;
  margin-bottom: 3rem;
}


.should-list {
  list-style: none;
  padding-left: 0;
}

.bright-green {
  color: #00ff00;
  font-weight: bold;
}
.green {
  color: green;
  font-weight: bold;
}

.yellow {
  color: yellow;
}

.red {
  color: red;
}

.buy-notes {
  font-size: .75em;
  padding-left: 1rem;
}

 .profit-type {
  display: inline-block;
  width: 100px;
 }

.sel-status {
  width: 150px;
}
